// Cards
//
// Your standard button suitable for clicking.
// 
// :hover               - Highlights when hovering.
// .card--secondary     - Secondary card when hovering
// 
// Markup: _card.hbs
//
// Style guide: Components.Cards

.card {
    background-color: var(--primary-color);
    color: white;
    padding: var(--base-padding);
    font-family: var(--base-font-family);

    &__title {
        margin-bottom: var(--base-margin);
        font-size: var(--base-font-size);
    }

    p {
        line-height: 1.5;
    }

    &--secondary {
        background-color: var(--secondary-color);
    }
}
