// Cards
//
// Your standard button suitable for clicking.
// 
// :hover               - Highlights when hovering.
// .card--secondary     - Secondary card when hovering
// 
// Markup: _card.hbs
//
// Style guide: Components.Cards

.card {
    background-color: green;
    color: white;
    padding: 12px 18px;

    p {
        line-height: 1.5;
    }

    &--secondary {
        background-color: pink;
    }
}
